/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: Georgia, 'Varela Round', sans-serif;
	line-height: 3;
	color: #000000;
	margin: 0;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
	line-height: 2em;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

header .hamburgerblock {
		display: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.website-title {
	font-size: .5em;
}

.website-title, 
img {
	text-align: left;
}

.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-left: 3em;    /*make some space between them*/
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .5em;
	color: #000000;
}

.main-nav a:hover {
	color: #093a58;
}

.website-title a,
.main-nav a {
  display: block;
}

.main-nav {
	width: 80%;/* make nav align to right*/
	text-align: right;
}

.main-content {
	text-align: center;
}


.main-content-box {
	width: 100%;
	height: 200px;
	margin-left: 19px;
	margin-right: 19px;
	background-color: #8198a6;
	display: block;
}

.call-to-action a {
	color: #000000;
}

.call-to-action a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
	height: 60px;
	margin-left: 3px;
	shape-margin: 3px;
	display:flex;  /*try vertical align to center*/
  	align-items:center;  /*try vertical align to center*/
}

.main-header {
	background-color: #d5d5d5;
	height: 60px;
}

.nav-container { /* test-make nav align to right*/
	width: 800px;
}

.welcome-msg {
	background-color: #cee4f2;
	text-align: center;
	width: 100%;
	height: 180px;
	line-height: 180px;
	font-size: 40px;
	font-family: cursive;
}


.main-footer {
	text-align: center;
	padding: 2em 0;
}

.call-to-action {
	background: #cee4f2;
	margin-top: .5em;
	margin-bottom: .5em;
	padding-left: 1em;
    padding-right: 1em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1200px) {

	.wrap {
		min-height: calc(100vh/* - 89px*/);
	}

	.container {
		width: 95%;
		margin: 0 auto;
	}


  	.website-title {
    margin-right: 50px;
  	}
  	
 	.main-content-section {
 		max-width: 1200px;
 		display: block;
 		margin: 0 auto;
 	}

  	.main-content-box {
		width: 50%;
		max-width: 560px;
	}

	img,
	.website-title,
	.main-nav,
	.main-nav li,
	.main-content-box,  
	.call-to-action {
	    display: inline-block;
	}
}


@media (min-width: 800px) and (max-width: 1200px) {

	.wrap {
		min-height: calc(100vh/* - 89px*/);
	}

	.container {
		width: 95%;
		margin: 0 auto;
	}

	.website-title {
    margin-right: 50px;
  	}

  	.main-content-section {
 		max-width: 1200px;
 		display: block;
 		margin: 0 auto;
 	}

  	.main-content-box {
		max-width: 45%;
	}

   img,
   .website-title,
   .main-nav,
   .main-nav li,
   .main-content-box,
   .call-to-action {
    	display: inline-block;
    }  
}


@media (min-width: 500px) and (max-width: 800px) {
	.main-nav a{
	 	display: none;
	 }

	header .hamburgerblock {
		display: block;
	}
	
	.wrap {
		min-height: calc(100vh/* - 89px*/);
	}

	.container {
		width: 95%;
		margin: 0 auto;
	}

	.website-title {
    	margin-right: 50px;
  	}

  	.main-content-section {
 		max-width: 800px;
 		display: block;
 		margin: 0 auto;
 	}

  	.main-content-box {
		max-width: 40%;
	}

    img,
    .website-title,
    .main-nav,
    .main-nav li,
    .main-content-box, 
    .call-to-action {
    	display: inline-block;
    }  	
}

@media (max-width: 500px) {
	.wrap {
		min-height: calc(100vh/* - 89px*/);
	}

	.container {
		width: 95%;
		margin: 0 auto;
	}

  	.website-title {
    margin-right: 50px;
  	}
  	
 	.main-content-section {
 		max-width: 500px;
 		display: block;
 		margin: 0 auto;
 	}

  	.main-content-box {
  		max-width:480px;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

    img,
    .website-title,
    .main-nav,
    .main-nav li,
    .main-content-box, 
    .call-to-action {
    	display: inline-block;
  	}
}
