*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	font-family: cursive, Georgia, sans-serif;
	color: #000000;
}

header {
	background: #f2f2f2;
}
.container{
	max-width:95%/*1200px*/;
	margin: 0px auto;
	padding-right: 15px;
	padding-left: 15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.logoblock {
	width: 40%;
	height: 50px;
	margin:10px 0;
}

.menublock, .hamburgerblock {
	width: 60%;
	height: 50px;
	margin:10px 0;
}

.logo_title {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 2.5vmin/*40px;*//*revised文字爆版*/
}
.logo {
	display: inline-block;
	height: 85%;/*revised*/
	width: auto;
	vertical-align: middle;
}
.menu {
	margin: 0px;
	list-style-type: none;
	float: right;
}
.menu-list {
	display: inline-block;
	line-height: 50px;
	margin-left: 2em/*10px*/;
}
.menu-font {
	color: #333333;
	text-decoration: none;
}
.menu-font:hover {
	color: #999999;
}

#myLinks{
  border-left: 1px solid #a6a6a6;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  height: 100vh;
 /* margin-top: -2.5em;*/
  /*overflow: hidden;
  float: right;
  position:fixed​;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;*/
  background-color: #ffffff;
 /* margin:0;
  padding:0;*/
}

.close-icon {
	margin: 15px;
	height: 20px;
	float: right;
}

#myLinks {
  display: none;
}

#myLinks a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.hamburgerblock {
	display: none;
}
.burgurBtn {
	height: 50px;
	float: right;
	cursor: pointer;
}
.burgurBtn img {
	padding: 10px;
	height: 100%;
}
section.welcome-msg {
	background: #cee4f2;
}
section.welcome-msg .msg {
	width: 100%;
	height: 180px;
	line-height: 180px;
	text-align: center;
	font-size: 6vmin/*40px;*//*revised文字爆版*/
/*	font-family: cursive;*/
}
section.section2 {
	margin-top: 15px; 
	margin-bottom: /*100*/30px; 
}
section.section2 .title {
	width:100%;
	text-align: center;
}
section.section2 h1 {
	font-size: 20px;
/*	font-family: cursive;*/
}
.max-1200 {
	width: 100%;
	max-width:1200px;
	text-align: center;
	margin: 10px auto;
}
.contentbox {
	background: #8097a6;
	height: 150px;
	width: 40%;
	margin:10px;
	display: inline-block;
	padding: 10px;
}
.morebox{
	display: none;
}

.btn {
	height: 40px;
	width: 160px;
	background: #cee4f2;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	header .menublock {
		display: none;
	}
	header .hamburgerblock {
		display: block;
	}
}

@media only screen and (max-width: 500px) {
	.contentbox {
		max-width: 450px;
		width:100%;
	}

}
